@import url('https://fonts.googleapis.com/css?family=Raleway');
/* font-family: 'Raleway', sans-serif; */
html, body {
  background-color: #eeeeee
}

h2.titulo {
  font-size: 30px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

hr.hr-division {
   border-color: #000000
}

.white-popup {
  position: relative;
  background: #EEE;
  border-radius: 10px;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}
